<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
      
    </div>

  </article>

<% if current_user %>
  <%= form_for [@product, Review.new] do |f| %>
    
    Rating: <%= f.select :rating, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
    Description: <%= f.text_field :description %>
    <%= f.submit "Submit" %>
  
  <% end %>
<% end %>
  

  <div>
    <dt>Reviews</dt>
    <hr></hr>
    <% @product.reviews.reverse_each do |review| %>
      <div class="comments">
        <p><strong>Rating: </strong><%= review.rating %></p>
        <p><strong>Description: </strong><%= review.description %></p>
      </div>
      <hr></hr>
    <% end %>
  </div>

</section>
